body {
  padding: 0;
  margin: 0;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #b9301c;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  color: #333;
}
p {
  line-height: 25px;
}
#ourlove {
  display: block;
  position: fixed;
  width: 40%;
  height: 100%;
  margin: 0 auto;
  background: url("images/bg.jpg") top left no-repeat;
  background-size: cover;
  zoom: 1;
  clear: both;
}
#author {
  margin-top: 5%;
  text-align: center;
}
#author a {
  border-radius: 40px;
  background: url("images/logo.gif") no-repeat;
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  box-shadow: 0 2px 10px #666;
}
#love {
  opacity: 0.5;
  font-size: 1.3em;
  color: #fff;
  margin: 3% auto;
  font-family: 'Rock Salt', cursive;
  width: 100%;
  max-width: 960px;
  text-align: center;
  text-shadow: 0 1px 2px #000;
}
#timer {
  font-family: 'VT323';
  font-size: 1.4em;
}
.content {
  margin-left: 40%;
  padding-top: 50px;
  padding-left: 50px;
  font: 12px/1.5 Tahoma, Helvetica, sans-serif;
  color: #777;
  width: 50%;
  max-width: 640px;
}
.entry {
  margin: 20px 0;
}
.categories-link {
  color: #777;
}
blockquote {
  border: 1px dashed #999;
  padding: 0 20px 0 60px;
  margin: 0 50px 0 30px;
  background-color: #f8f8f8;
  background: #f0f0f0 url("images/quote.png") 15px 8px no-repeat;
}
pre {
  margin: 10px 50px;
  padding: 0 10px;
  border-left: 2px solid #6ce26c;
  background-color: #f8f8f8;
}
ul {
  margin: 10px 60px;
  padding: 0 10px;
}
code {
  color: #cd2626;
}
.divider {
  width: 30%;
  margin: 2em 0;
  border-top: 1px solid #ddd;
}
.footer {
  margin-top: 1em;
}
.footer a {
  color: #777;
}
.footer p {
  line-height: 0.7em;
}
.archives-title {
  color: #444;
}
.archives {
  margin-top: 20px;
}
